@{
    var controller = ViewContext.RouteData.Values["controller"].ToString();
    var action = ViewContext.RouteData.Values["action"].ToString();
}

<div id="layoutSidenav_nav">

    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">

        <div class="sb-sidenav-menu">

            <div class="nav">

                <div class="sb-sidenav-menu-heading">EF-Core 101</div>
                <a id="Home" class="nav-link" asp-controller="Home" asp-action="Index">
                    <div class="sb-nav-link-icon"><i class="fas fa-home"></i></div> Home
                </a>

                <div class="sb-sidenav-menu-heading">Content</div>
                <a id="nav-link-chapters" class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    Chapters
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a id="Chapter1" class="nav-link" asp-controller="Chapter1" asp-action="Index"><i class="fas fa-caret-right pe-2"></i> Chapter-1</a>                        
                        <a id="Chapter2" class="nav-link" asp-controller="Chapter2" asp-action="Index"><i class="fas fa-caret-right pe-2"></i> Chapter-2</a>   
                        <a id="Chapter3" class="nav-link" asp-controller="Chapter3" asp-action="Index"><i class="fas fa-caret-right pe-2"></i> Chapter-3</a>
                        <a id="Chapter4" class="nav-link" asp-controller="Chapter4" asp-action="Index"><i class="fas fa-caret-right pe-2"></i> Chapter-4</a>
                    </nav>
                </div>

                <div class="sb-sidenav-menu-heading">Help</div>
                <a class="nav-link" asp-controller="Home" asp-action="Index">
                    <div class="sb-nav-link-icon"><i class="far fa-circle-question"></i></div> About
                </a>
                <a class="nav-link" asp-controller="Home" asp-action="Index">
                    <div class="sb-nav-link-icon"><i class="fas fa-file-lines"></i></div> Licence
                </a>

            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="text-muted">Copyright &copy; 2023</div>            
        </div>
    </nav>
</div>

<script>

    document.addEventListener("readystatechange", (event) => {
        console.log(`readystate: ${document.readyState}\n`);
    });

    document.addEventListener("DOMContentLoaded", (event) => {
        console.log(`DOMContentLoaded\n`);
    });

    window.addEventListener("load", (event) => {
        console.log("load\n");
        MenuCollapse();
    });

    function MenuCollapse()
    {
        var ctrl = '@controller';

        if(ctrl.startsWith('Chapter'))
        {
            const elem = document.getElementById("nav-link-chapters");
            elem.classList.remove("collapsed");

            const elem2 = document.getElementById("collapseLayouts");
            elem2.classList.add("show");
        }

        const elem3 = document.getElementById(ctrl);
        elem3.classList.add("text-primary");
    }


</script>                    